.home {
    position: relative;
    width: 60vw;
}

.home img {
    border-radius: 15%;
    width: 30vw;
    min-width: 200px;
    max-width: 350px;
    float: right;
    margin: 10px;
}

.home *:not(h1) {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}